body, html {
    margin: 0px;
    padding: 0px;
}

.logo {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 100px;

    background-color: orange;
    font-family: "OCR A Std";
    font-size: 60pt;
    color: white;

    z-index: 3;
}

body * {
    box-sizing: border-box;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.row {
    content: ' ';
    clear: both;
    margin: 0;
}

[class*='col-'] {
    float: left;
    width: calc(100% / 12);
    color: white;
    font-family: "Helvetica";
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    margin: 0;
    background-color: purple;
}

.img-video {
    padding: 0;
}

[class*='col-'].empty::after {
    content:'';
    margin-left: calc(60px + 20px);
}

.col-2 {
    width: calc(calc(100% / 12) * 2);
}
.col-3 {
    width: calc(calc(100% / 12) * 3);
}
.col-4 {
    width: calc(calc(100% / 12) * 4);
}
.col-5 {
    width: calc(calc(100% / 12) * 5);
}
.col-6 {
    width: calc(calc(100% / 12) * 6);
}
.col-7 {
    width: calc(calc(100% / 12) * 7);
}
.col-8 {
    width: calc(calc(100% / 12) * 8);
}
.col-9 {
    width: calc(calc(100% / 12) * 9);
}
.col-10 {
    width: calc(calc(100% / 12) * 10);
}
.col-11 {
    width: calc(calc(100% / 12) * 11);
}
.col-12 {
    width: calc(calc(100% / 12) * 12);
}

/*a {
    color: inherit;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;

    width: 75%;
    height:50px;

    background-color: purple;

    z-index: 2;
}

nav ul li {
    display: inline-block;

    width: calc(3% - 1%);
    height: 50px;

    margin-left: 300px;
    padding: 10px;

    color: white;
    text-align: center;
}

nav ul li a {
    display: inline-block;

    line-height: 2em;
    color: white;
    font-family: Helvetica;
    font-size: 18pt;
}

nav ul {
    list-style-type: none;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;

    min-width: 100%;
    min-height: 100%;

    z-index: 1;
}*/