body, html {
    margin: 0;
    padding: 0;
}

/*Geral*/

[class*='grid'] * {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.row {
    content: ' ';
    clear: both;
}

[class*='col-'] {
    float: left;
    width: calc(100% / 12);
    min-width: calc(100% / 12);

    color: black;
    font-family: "Helvetica";
    font-size: 18pt;

    padding: 15px;

    background-color: white;
}

.img-video {
    padding: 0;
}

/*Logotipo*/

.logo {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 50px;

    font-size: 50pt;

    width: calc(100% / 12 * 3);
    text-align: center;

    z-index: 3;
}

/*Navegação*/

nav [class*='col-'] {
    height: 60px;

    background-color: purple;
    color: white;

    text-align: center;
}

nav [class*='col-']:not(.empty):hover {
    background-color: #440146;
}

/*Rodapé*/

footer [class*='col-'] {
    height: 80px;

    font-size: 10pt;
    background-color: purple;
    color: white;

    line-height: 1em;
    text-align: center;
}

footer div:last-child {
    line-height: 2em;
    font-family: "OCR A Std";
}

/* Largura das Células*/

.col-2 {
    width: calc(calc(100% / 12) * 2);
}
.col-3 {
    width: calc(calc(100% / 12) * 3);
}
.col-4 {
    width: calc(calc(100% / 12) * 4);
}
.col-5 {
    width: calc(calc(100% / 12) * 5);
}
.col-6 {
    width: calc(calc(100% / 12) * 6);
}
.col-7 {
    width: calc(calc(100% / 12) * 7);
}
.col-8 {
    width: calc(calc(100% / 12) * 8);
}
.col-9 {
    width: calc(calc(100% / 12) * 9);
}
.col-10 {
    width: calc(calc(100% / 12) * 10);
}
.col-11 {
    width: calc(calc(100% / 12) * 11);
}
.col-12 {
    width: calc(calc(100% / 12) * 12);
}

/*Titulos*/

.titulo {
    color: orange;
    font-family: "OCR A Std";
    font-size: 30pt;

    padding: 20px;
}


/*Botões*/

.botao {
    color: white;
    background-color:orange;
    font-family: "OCR A Std";

    padding: 20px;
    text-align: center;
}

/*Sobre*/

[class*='sobre'] {
    display: inline-block;

    color: black;
    background-color: white;
    font-family: "Helvetica";
    padding: 50px;
    text-align: justify;
}

/*Portfólio*/

[class*='projeto'] {
    display: inline-block;

    color: black;
    background-color: white;
    font-family: "Helvetica";

    padding: 20px;
    text-align: justify;
}

/*Eventos*/

    /*Informação*/

.info {
    display: inline-block;
    color: black;
    text-align: left;
}

    /*Calendário*/

.grid-main .grid .row {
    content: ' ';
    clear: both;
    margin: 0;
}

.grid-main .grid-calendario [class*='col-'] {
    float: left;
    height: 80px;
    width: calc(100% / 7);
    color: black;
    font-family: "Helvetica";
    font-size: 10pt;
    text-align: center;
    padding: 15px;
    background-color: lavender;
}

.grid-main .grid .row:first-child [class*='col-'], .grid-main .grid .row:last-child [class*='col-'] {
    height: 50px;
    color: white;
    font-family: "OCR A Std";
    font-size: 12pt;
    background-color: #440146;
}

/*Loja*/

.miniaturas {
    float: left;

}

[required] {
    border: 1px solid grey;
}

/*Contactos e Localização*/

.contactoselocalizacao h2 {
    display: inline;

    border: 5px solid black ;
    font-family: "OCR A Std";
    padding: 15px;
}



